.Spinner-wrong {
  animation: Spinner-wrong-spin infinite 20s linear;
}

@keyframes Spinner-wrong-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Spinner-correct-top {
  animation: Spinner-correct-scale infinite 2s linear;
  transform-origin: 50% 8.333%;
}
.Spinner-correct-top-right {
  animation: Spinner-correct-scale infinite 2s linear;
  transform-origin: 80% 20%;
  animation-delay: 250ms;
}
.Spinner-correct-right {
  animation: Spinner-correct-scale infinite 2s linear;
  transform-origin: 91.666% 50%;
  animation-delay: 500ms;
}
.Spinner-correct-bottom-right {
  animation: Spinner-correct-scale infinite 2s linear;
  transform-origin: 80% 80%;
  animation-delay: 750ms;
}
.Spinner-correct-bottom {
  animation: Spinner-correct-scale infinite 2s linear;
  transform-origin: 50% 91.666%;
  animation-delay: 1000ms;
}
.Spinner-correct-bottom-left {
  animation: Spinner-correct-scale infinite 2s linear;
  transform-origin: 20% 80%;
  animation-delay: 1250ms;
}
.Spinner-correct-left {
  animation: Spinner-correct-scale infinite 2s linear;
  transform-origin: 8.333% 50%;
  animation-delay: 1500ms;
}
.Spinner-correct-top-left {
  animation: Spinner-correct-scale infinite 2s linear;
  transform-origin: 20% 20%;
  animation-delay: 1750ms;
}

@keyframes Spinner-correct-scale {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.2);
  }
  to {
    transform: scale(1);
  }
}
